* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 20px;
    flex: 1;
}

button {
    padding: 10px;
    border-radius: 5px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background: #218838;
}

ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: grey;
}
li span {
    flex: 1;
    cursor: pointer;
}

li button {
    background: red;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
